<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <%= form_with model: @user, local: true, autocomplete: 'off' do |f| %>
        <div class="form-group">
          <%= f.label :first_name, "苗字" %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div> 
        <div class="form-group">
          <%= f.label :last_name, "名前" %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div> 
        <div class="form-group">
          <%= f.label :email, "メールアドレス" %>
          <%= f.text_field :email, class: "form-control" %>
        </div> 
        <div class="form-group">
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, class: "form-control" %>
        </div> 
        <div class="form-group">
          <%= f.label :password_confirmation, "パスワードの確認" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div> 
        <div class="actions">
          <%= f.submit "登録", class: "btn btn-primary" %>
        </div> 
     <% end %>
     <div class='text-center'>
       <%= link_to 'ログインページへ', new_user_path %>
     </div>
    </div>
  </div>
</div>