<%# ログイン中 %>
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container">
    <a class="navbar-brand" href="/">
    <i class="fa-solid fa-car-side"></i>
    Drive Start
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li>
          <%= link_to root_path,class: 'nav-link text-light' do %>
            <i class="fas fa-home"></i> Top
          <% end %>
        </li>
        <li>
          <%# ドロップダウン %>
          <div class="dropdown mt-1">
            <button class="btn btn-whiht text-white btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-user"></i>
              User Login
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li>
                <%= link_to current_user.decorate.full_name , profile_path, class: 'dropdown-item' %>
              </li>
              <li>
                <%= link_to t('posts.index.title'), posts_path, class: 'dropdown-item' %>
              </li>
              <li>
                <%= link_to t('posts.new.title'), new_post_path, class: 'dropdown-item' %>
              </li>
            </ul>
          </div>  
          <%# ドロップダウン終了 %>
        </li>
        <li>
          <%=  link_to new_road_path,class: 'nav-link text-light' do %>
            <i class="fa-solid fa-road"></i> Roads
          <% end %>
        </li>
        <li>
          <%=  link_to bookmarks_posts_path,class: 'nav-link text-light' do %>
            <i class="fas fa-star"></i> Bookmarks
          <% end %>
        </li>
        <li>
          <%= link_to logout_path, method: :delete,class: 'nav-link text-light' do %>
            <i class="fas fa-sign-out-alt"></i> Log out
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
